<p class="lead">Los estudiantes inscriptos previamente en cursos del Plan 1994 pueden
   utilizar este formulario para solicitar inscripciones a materias en liceos
   seleccionados.
</p>

<p>El Plan 1994 "Martha Averbug" es una propuesta educativa diseñada para adultos y jóvenes con condicionamientos laborales.</p>
<p>Todas las reinscripciones para los cursos nocturnos 2020 en el liceo "Dámaso Antonio Larrañaga" (Montevideo 3) deben realizarse completando este formulario web.</p>

<div class="jumbotron">
  <h5>Las solicitudes hechas hoy deben ser confirmadas personalmente en liceo hasta el <%- vencimiento %> en el horario de <%- sails.config.custom.horarioLiceo %>.</h5>
</div>

<button class="btn btn-primary" onclick="iniciar()" id="iniciar">Iniciar</button>

<div id="identificacion" class="d-none">

  <form method="post" action="<%= sails.config.custom.basePath %>/main/paso1">

    <div class="card">
     <div class="card-header bg-primary text-white">Identificación</div>
     <div class="card-body">
         <div class="form-group">
           <label for="cedula">Número de cédula</label>
           <input type="text" class="form-control" id="cedula" name="cedula" maxlength="11">
         </div>
         <input type="submit" name="submit" class="btn btn-primary" id="submit" value="Buscar">
     </div>
    </div>
  </form>
</div>
<script>
function iniciar() {
  $('#iniciar').addClass('d-none');
  $('#identificacion').removeClass('d-none');
  $('html,body').animate({ scrollTop: $('#submit').offset().top }, 1000);
}
</script>
