<p class="lead">Los estudiantes inscriptos previamente en cursos del Plan 1994 pueden
   utilizar este formulario para solicitar inscripciones a materias en liceos
   seleccionados.</p>

<div class="card col-md-6">
  <div class="card-body">
    <form method="post" action="<%= sails.config.custom.basePath %>/main/paso1">
      <div class="form-group">
        <label for="cedula">Número de cédula</label>
        <input type="text" class="form-control" id="cedula" name="cedula" maxlength="11">
      </div>
      <input type="submit" name="submit" value="Buscar">
    </form>
  </div>
</div>
